
h1 {
    font-size: 36px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    color: #ffffff;


}

h2 { 
    padding-bottom: 20px;

    margin: 0;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    border-bottom: 2px solid #dddddd;
}

p {
    margin: 0;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 200%;
}

a {
    text-decoration: none;
}
.smallpic{
    float: left;
    margin-right: 3%;
}

header {
    margin: 0 auto;
    background-color: #ffffff;
    border-top: 1px solid #cccccc;
    border-bottom: 2px solid #cccccc;
}

.nav-bar {
    overflow: auto;
    position: relative;
    margin: 0 auto;
    width: 960px;
}

#nav-home {
    background: #4aaaa5;
    position: relative;
    padding: 15px 27px;
    float: left;
}

.nav-divider {
    position: relative;
    top: 22px;
    height: 22px;
    width: 1px;
    background-color: #cccccc;
    float: right;
}
#nav-about {
    position: relative;
    top: 17px;
    float: right;
    padding-right: 15px;
}

#nav-portfolio {
    padding: 0 15px;
    position: relative;
    top: 17px;
    float: right;
}
#nav-contact {
    position: relative;
    top: 17px;
    padding-left: 15px;
    float: right;
}



/*   Body only  */
body {
    width: 100%;
    margin: 0 auto;
    background-image: url("../images/gravel.png");
}
.body-heading {
    margin: 0 0 28px 0;
}

.body-wrapper {
    overflow: hidden;
    width: 900px;
    padding: 28px 30px 0px 30px;
    border: 2px solid #dddddd;
    margin: 30px auto;
    background-color: #ffffff;
}


/*  index.html  */
.about-content {
    margin-bottom: 30px;
}

#about-profile-img {
    margin-right: 30px;
    width: 250px;
    float: left;
}

/*  portfolio.html */
.portfolio-pic-left {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    height: 187px;
}

.portfolio-pic-middle {
    float: left;
    margin-bottom: 30px;
    height: 187px;
}

.portfolio-pic-right {
    float: right;
    margin-left: 30px;
    margin-bottom:0px;
    height: 200px;
}

.portfolio-image {
    width: 280px;
}

.portfolio-label {
    position: relative;
    top: -40px;
    width: 280;
    padding: 15px;
    text-align: center;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
    font-weight: lighter;
}

/* contact.html */
.contact-item {
    margin-top: 10px;
}

#contact-name {
    width: 876px;
    padding: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 125%;
    font-size: 80%;
    font-weight: lighter;
}

#contact-email {
    width: 876px;
    padding: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 125%;
    font-size: 80%;
    font-weight: lighter;
}

#contact-message {
    height: 150px;
    width: 880px;
    border-color: #dddddd;
    padding: 10px;
    resize: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 125%;
    font-size: 80%;
    font-weight: lighter;
}

#contact-submit {
    width: 120px;
    height: 40px;
    margin: 5px 0 30px 0;
    background-color: #4aaaa5;
    font-size: 105%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
}


/*footer */
footer { 
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 10px solid #4aaaa5;
    background-color: #666666;
} 

#copyright-text {
    position: relative;
    bottom: 5px;
    margin-top: 30px;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 75%;
    color: #dddddd;
}
